<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head') %>
</head>
<body>
    <%- include('../../partials/menu') %>
    <div class="admin-container">
      <%- include('../../partials/slider') %>
        <div class="admin-right">
            <div class="row mt-5">
                <div class="col-12"><h3>Thêm menu</h3></div>
                <form action="/menuCreate" method="post" class="col-6">
                    <div class="form-group">
                        <label>Tên menu</label>
                        <input type="text" class="form-control" name="name" placeholder="Thêm tên menu">
                    </div>
                    <div class="form-group my-3">
                        <label>Chọn menu cha</label>
                        <select class="form-control" name="parent_id">
                            <option value="0">Chọn menu cha</option>
                            <% for(let i=0; i<data.length; i++){ %>
                                <option value=<%=data[i].id%>><%=data[i].name%></option>
                            <% } %>
                        </select>
                    </div>

                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>