<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head') %>
</head>
<body>
  <%- include('../../partials/menu') %>
  <div class="admin-container">
      <%- include('../../partials/slider') %>
      <div class="admin-right">
          <div class="row">
              <div class="col-12"><h3>Vai trò</h3></div>
              <div class="col-md-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên vai trò</th>
                        <th scope="col">Mô tả vai trò</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(let i = 0; i < data.length; i++) { %>
                        <form action="/roleDelete" method="post">
                          <tr>
                            <th scope="row" class="col-2"><%= i + 1 %></th>
                            <td class="col-2"><%= data[i].name %></td>
                            <td class="col-2"><%= data[i].display_name %></td>
                            <td class="col-2">
                              <a href="/roleEdit/<%= data[i].id %>" class="btn btn-success">Sửa</a>
                              <input type="text" name="id" value="<%= data[i].id %>" hidden>
                              <button class="btn btn-danger">Xóa</button>
                            </td>
                          </tr>
                        </form>
                      <% } %>
                    </tbody>
                </table>
              </div>
          </div>
        </div>
    </div>
</body>
</html>